.fill__title {
  margin-bottom: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  color: #076ce9;
}

.fill__inputBlock {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fill__inputBlock-sup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fill__inputBlock-sup-label {
  color: #e1f0ff;
  font-size: 12px;
  text-shadow: 2px 2px 0 #0975f83d;
}

.fill__inputBlock-sup-minValue {
  font-size: 8px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076ce944;
}

.fill__inputBlock-inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.fill__inputBlock-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #0974f8;
  padding: 10px 64px 10px 15px;
  font-size: 20px;
  color: #19c2ef;
  width: 100%;
  background: linear-gradient(to top, #0975f848, #0975f800);
}

.fill__inputBlock-postfix {
  position: absolute;
  top: 50%;
  right: 14px;
  font-size: 18px;
  transform: translateY(-50%);
}

.fill__cuttedButtonWrapper {
  max-width: 202px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}
