.friendsList {
  position: relative;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  width: 100%;
  padding-left: 4px;
}

.friendsList__header {
  background-color: #0975f852;
  border-radius: 4px;
  padding: 8px 0;
  color: #19c2ef;
  display: flex;
  align-items: center;
}

.friendsList__header-name {
  max-width: 120px;
  width: 100%;
  margin-right: 32px;
  padding-left: 22px;
}

.friendsList__header-profit {
  margin-left: auto;
  padding-right: 50px;
}

.friendsList__listWrapper {
  max-height: 371px;
  overflow-y: scroll;
}

.friendsList__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 50px;
}

.friendsList__list-item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #19c1ef48;
}

.friendsList__list-item-nameBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 120px;
  width: 100%;
  margin-right: 32px;
}

.friendsList__list-item-nameBlock-name {
  text-decoration: underline;
  color: #fff;
  text-shadow: 2px -1px 0 rgba(7, 109, 233, 0.26);
  text-overflow: ellipsis;
  overflow: hidden;
}

.friendsList__list-item-model {
  max-width: 55px;
  width: 100%;
  margin-right: 14px;
  text-shadow: 2px -1px 0 rgba(7, 109, 233, 0.26);
  text-overflow: ellipsis;
  overflow: hidden;
}

.friendsList__list-item-profit {
  max-width: 91px;
  width: 100%;
  margin-left: auto;
  color: #9fff9c;
  text-shadow: 2px -1px 0 rgba(7, 109, 233, 0.26);
  text-overflow: ellipsis;
  overflow: hidden;
}
