.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  position: relative;
}

.balance-box {
  border-radius: 4px;
  background-color: #0975f85d;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.balance-box-key {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 10px;
}

.balance-box-key-title {
  color: #19c2ef;
}

.balance-box-value {
  font-size: 12px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076de944;
}
