.cuttedButtonContainer {
  position: relative;
}

.cuttedButtonContainer.halfTransparent .cuttedButton {
  background: linear-gradient(to bottom, #076de942, #14b4de42);
}

.cuttedButtonContainer.halfTransparent * {
  pointer-events: none;
}

.cuttedButtonContainer::before {
  content: url("../img/corner.svg");
  position: absolute;
  top: -2px;
  left: -2px;
}

.cuttedButtonContainer::after {
  content: url("../img/corner.svg");
  position: absolute;
  bottom: -2px;
  right: -2px;
  transform: scale(-1, -1);
}

.cuttedButtonFrame {
  padding: 3px;
  border: 1px solid #19c1efcc;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    10px 0,
    calc(100% - 10px) 0,
    100% 0px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0px 100%,
    0 calc(100% - 10px),
    0 10px
  );
  -webkit-clip-path: polygon(
    10px 0,
    calc(100% - 10px) 0,
    100% 0px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0px 100%,
    0 calc(100% - 10px),
    0 10px
  );
}

.cuttedButtonFrame:active .cuttedButton {
  opacity: 50%;
}

.cuttedButtonContainer.secondary .cuttedButton {
  background: #4fb2fe3b;
}

.cuttedButton {
  outline: none;
  border: none;
  background: linear-gradient(to bottom, #076ce9, #14b4de);
  font-family: "Bicubik", sans-serif;
  text-align: center;
  border: 1px solid #2cd1ff93;
  padding: 12px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  clip-path: polygon(
    10px 0,
    calc(100% - 10px) 0,
    100% 0px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0px 100%,
    0 calc(100% - 10px),
    0 10px
  );
  -webkit-clip-path: polygon(
    10px 0,
    calc(100% - 10px) 0,
    100% 0px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0px 100%,
    0 calc(100% - 10px),
    0 10px
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.cuttedButton.small {
  padding: 10px 12px;
}

.cuttedButton__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
}
