.headerWrapper {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  max-width: 528px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__top-link:active .header__top-bg {
  opacity: 50%;
}

.header__top-bg {
  opacity: 100%;
  transition: all 0.1s ease-in-out;
}

.header__top-left {
  position: relative;
  width: 100%;
  max-width: 198px;
  display: flex;
  margin-right: auto;
  opacity: 0;
}

.header__top-left-content {
  display: flex;
  gap: 32px;
  position: relative;
  width: fit-content;
}

.header__top-left-content-text {
  font-size: 10px;
  padding-top: 8px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076ce920;
}

.header__top-left-content-iconWrapper {
  padding-top: 8px;
  padding-left: 8px;
  position: relative;
}

.header__top-left-content-iconWrapper-blur {
  filter: blur(0.5px);
  opacity: 30%;
  position: absolute;
  top: 6px;
  right: -3px;
}

.header__top-left-bg {
  max-width: 198px;
  width: 100%;
  position: absolute;
  top: -2px;
  left: -19px;
  pointer-events: none;
}

.header__top-left-bgBlur {
  max-width: 180px;
  position: absolute;
  top: 0px;
  left: -11px;
  max-width: 180px;
  width: 100%;
  pointer-events: none;
}

.header__top-left-bgBlur.games {
  position: absolute;
  pointer-events: none;
  transform: scaleX(-1);
  top: -70px;
}

.header__top-right {
  position: relative;
  width: 100%;
  max-width: 198px;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
}

.header__top-right-bg {
  max-width: 198px;
  width: 100%;
  position: absolute;
  top: -2px;
  right: -19px;
  transform: scaleX(-1);
  pointer-events: none;
}

.header__top-right-bgBlur {
  max-width: 180px;
  position: absolute;
  top: 0px;
  right: -11px;
  max-width: 180px;
  width: 100%;
  transform: scaleX(-1);
  pointer-events: none;
}

.header__top-right-bgBlur.options {
  position: absolute;
  pointer-events: none;
  transform: none;
  top: -70px;
}

.header__top-right {
  position: relative;
  margin-left: auto;
}

.header__top-right-content {
  display: flex;
  gap: 32px;
  position: relative;
  width: fit-content;
}

.header__top-right-content-text {
  font-size: 10px;
  padding-top: 8px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076ce920;
}

.header__top-right-content-iconWrapper {
  padding-top: 8px;
  padding-right: 8px;
  position: relative;
}

.header__top-right-content-iconWrapper-blur {
  filter: blur(0.5px);
  opacity: 30%;
  position: absolute;
  top: 6px;
  left: -3px;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  opacity: 0;
}

.header__bottom-sup {
  position: relative;
}

.header__bottom-sup-bg {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__bottom-sup-text {
  position: relative;
  z-index: 100;
  color: #ffd954;
  text-shadow: 2px -1px 0 #ffd95420;
  font-size: 14px;
  margin-bottom: 3px;
}

.header__bottom-main--Shop {
  width: 100%;
  height: 50px;
  max-width: 200px;
  position: relative;
  top: -30px;
  transition: all 0.2s ease-in-out;
}

.header__bottom-main-bg {
  position: absolute;
  max-width: 226px;
  width: 100%;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__bottom-main-bg--Shop {
  top: 55%;
  transform: translate(-50%, -50%) scale(1.15);
}

.header__bottom-main-text {
  position: relative;
  top: -18px;
  right: -2px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 27px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
}

.header__bottom-main-text--Shop {
  font-size: 14px;
  color: #ff96a2;
  text-shadow: 2px -1px 0 #ff96a220;
  background: none;
  position: relative;
  top: -13px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.header__bottom--Shop .header__bottom-main-bg {
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.header__bottom--Shop .header__bottom-main-bg:active {
  opacity: 50%;
}

.header__bottom-main--Shop:active .header__bottom-main-bg--Shop {
  opacity: 50%;
}

.headerWrapper--Bottom {
  bottom: -0;
  top: initial;
}

.headerWrapper--Bottom .header__top-left-bg {
  transform: scaleY(-1);
  top: unset;
  bottom: -2px;
}

.headerWrapper--Bottom .header__top-right-bg {
  transform: scaleY(-1) scaleX(-1);
  top: unset;
  bottom: -2px;
}

.headerWrapper--Bottom .header__top-left-content,
.headerWrapper--Bottom .header__top-right-content {
  align-items: flex-end;
}

.headerWrapper--Bottom .header__top-left-content-text,
.headerWrapper--Bottom .header__top-right-content-text {
  padding-top: 0;
  padding-bottom: 4px;
}
