[data-page="game2"] .page__container {
  background-image: url("../img/game2-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[data-page="game2"] .header__top-left-content,
[data-page="game2"] .header__top-right-content {
  gap: 24px;
}

.game2 {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
}

.game2__gradientTop {
  position: fixed;
  pointer-events: none;
  height: 130px;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, black, transparent);
}

.game2__gradientBottom {
  position: fixed;
  pointer-events: none;
  height: 130px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, black, transparent);
  z-index: 10;
}

.beam-animation-green {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100px;
  border-radius: 50%;
  height: 5px; /* Adjust height as needed */
  background-color: greenyellow;
  transition: left 500ms ease, top 500ms ease, width 600ms ease;
  z-index: 1000;
  transform-origin: left center; /* Ensure rotation is around the left end */
  box-shadow: 0 0 5px 1px greenyellow; /* Green glowing shadow */
  background-color: greenyellow;
}
.beam-animation-red {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100px;
  border-radius: 50%;
  height: 5px; /* Adjust height as needed */
  background-color: crimson;
  transition: left 500ms ease, top 500ms ease, width 600ms ease;
  z-index: 1000;
  transform-origin: left center; /* Ensure rotation is around the left end */
  box-shadow: 0 0 5px 1px crimson; /* Green glowing shadow */
  background-color: crimson;
}
