.modalComingSoon {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  padding-bottom: 180px;
}

.modalComingSoon__title {
  max-width: 220px;
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  letter-spacing: 3.5px;
  text-shadow: 2px 2px 0 #0975f82f;
}

.modalComingSoon__text {
  max-width: 270px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076de934;
}

.modalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #101d9785;
  backdrop-filter: blur(3px);
  box-shadow: inset 0 0 50px #19c2ef;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  max-width: 576px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  overflow-y: scroll;
}

.modalBg--Hidden {
  opacity: 0;
  pointer-events: none;
}

.modalBg__textureBg {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
}

.modalBg__textureBg--Left {
  left: 0;
}

.modalBg__textureBg--Right {
  right: 0;
  transform: scaleX(-1);
}

.modal {
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
}

.modal__header {
  position: relative;
  margin-bottom: -34px;
}

.modal__header-bg {
  max-width: 100%;
}

.modal__header-iconBg {
  position: absolute;
  max-width: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.modal__header-iconWrapper {
  position: absolute;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.modal__body {
  width: 100%;
  height: 538px;
  max-width: 358px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalBg.modalBg--Short.chooseGame {
  padding-top: 100px;
}

.modal__body--Short {
  height: 330px;
}

.modal__body-bg {
  max-width: 100%;
  position: absolute;
}

.modal__body-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  gap: 10px;
  margin-bottom: 20px;
}

.modal__body--Short .modal__body-top {
  margin-bottom: 0;
}

.modal__body-top-closeBtn {
  position: absolute;
  right: 10px;
  top: 9px;
  background: none;
  outline: none;
  border: none;
  width: 94px;
  height: 24px;
  font-size: 10px;
  color: #ff96a2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px -1px #ff697b33;
}

.modal__body-top-closeBtn:active .modal__body-top-closeBtn-bg {
  opacity: 50%;
}

.modal__body-top-closeBtn-bg {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.modal__body-top-closeBtn-text {
  padding-left: 18px;
}

.modal__body-top-title {
  position: relative;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0 #0975f82f;
}

.modal__body-top__borderBottom {
  left: 0;
}

@media screen and (max-width: 390px) {
  .modalBg {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.modal__scrollContainer {
  position: relative;
  width: 100%;
  max-width: 342px;
  max-height: 334px;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  padding: 0 10px 0 26px;
}

.modal__scrollContainer__bottomGradient {
  content: "";
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 26px;
  pointer-events: none;
  height: 72px;
  background: linear-gradient(to top, #171e5e, #171e5e00);
  max-width: 311px;
}

.modal__scrollContainer::-webkit-scrollbar {
  width: 5px;
}

.modal__scrollContainer::-webkit-scrollbar-track {
  background: #1858a2;
  border-radius: 6px;
}

.modal__scrollContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #14b4de, #076ce9);
  border-radius: 6px;
  border: 1px solid #2cd1ff81;
}

/* FULLSCREEN */
.fullscreenModalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  backdrop-filter: blur(3px);
  box-shadow: inset 0 0 50px #19c2ef;
  z-index: 1001;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  max-width: 576px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  background-color: #101d976e;
}

.fullscreenModalBg--Hidden {
  opacity: 0;
  pointer-events: none;
}

.fullscreenModalBg__textureBg {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.fullscreenModalBg__textureBg--Left {
  left: 0;
}

.fullscreenModalBg__textureBg--Right {
  right: 0;
  transform: scaleX(-1);
}

.fullscreenModalBg__img {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.fullscreenModalBg__color {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: #101d976e; */
  backdrop-filter: blur(5px);
}

.fullscreenModal {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  z-index: 10;

  padding: 25px;
  padding-top: 65px;
  position: relative;
  z-index: 1;
}

.fullscreenModal__title {
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  max-width: 170px;
  text-align: center;
  line-height: 150%;
  position: relative;
}

.fullscreenModal__title::before {
  position: absolute;
  content: url("../img/loader/loader-corner.svg");
  left: -15px;
  top: -10px;
}

.fullscreenModal__title::after {
  position: absolute;
  content: url("../img/loader/loader-corner.svg");
  right: -15px;
  top: -10px;
  transform: scaleX(-1);
}

.fullscreenModal__dots {
  margin-bottom: 60px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
}

@media screen and (max-width: 370px) {
  .modalBg {
    width: 110vw;
  }

  .modal {
    transform: scale(0.9);
  }

  .fullscreenModalBg {
    width: 110vw;
  }

  .fullscreenModal {
    transform: scale(0.9);
  }
}

@media screen and (max-height: 730px) {
  .fullscreenModalBg.currentStat .fullscreenModal {
    padding-top: 24px;
  }

  .fullscreenModalBg.welcome .fullscreenModal {
    padding-top: 24px;
  }
}

@media screen and (max-height: 680px) {
  .fullscreenModalBg.currentStat .fullscreenModal {
    padding-top: 16px;
  }

  .fullscreenModalBg.welcome .fullscreenModal {
    padding-top: 16px;
  }
}

@media screen and (max-height: 650px) {
  .fullscreenModalBg.currentStat .fullscreenModal {
    padding-top: 16px;
  }

  .fullscreenModalBg.welcome .fullscreenModal {
    padding-top: 16px;
  }
}

@media screen and (max-height: 615px) {
  .modal {
    margin-top: -40px;
  }

  .fullscreenModalBg.currentStat .fullscreenModal {
    padding-top: 0;
  }
}

@media screen and (max-width: 370px) {
  .fullscreenModalBg.currentStat .fullscreenModal {
    padding-top: 0;
  }

  .fullscreenModalBg.welcome .fullscreenModal {
    padding-top: 0;
  }
}
