[data-page="home"] .page__container {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  [data-page="home"] .page__container {
    overflow-x: hidden;
  }
}

.radialGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #130b5300, #12025059);
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.topLinearGradient {
  position: absolute;
  width: 100%;
  height: 92px;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to bottom, #120d1fe0, #0f172f00);
  top: 0;
}

.bottomLinearGradient {
  position: absolute;
  width: 100%;
  height: 92px;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background: linear-gradient(to top, #120d1fe0, #0f172f00);
  bottom: 0;
}

.backgroundVideo {
  mix-blend-mode: lighten;
  position: absolute;
  opacity: 90%;
  z-index: 1;
  width: 550vw;
  height: 100vh;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-height: 530px) {
  .resources {
    margin-top: 38px;
  }
}
