.shop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.shop__pillsContainer {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* PLAYER */
.player {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 35px;
}

.player-card {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #19c1ef50;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-card-main {
  display: flex;
  gap: 12px;
}

.player-card-main-modelBlock {
  background-color: #192d7d;
  max-width: 140px;
  width: 100%;
}

.player-card-main-info {
  display: flex;
  flex-direction: column;
  max-width: 134px;
  width: 100%;
  gap: 15px;
}

.player-card-main-info-title {
  font-size: 14px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
}

.player-card-main-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-card-main-info-list-item {
  padding-bottom: 6px;
  border-bottom: 1px solid #19c1ef4d;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.player-card-main-info-list-item-key {
  font-size: 12px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076ce93d;
}

.player-card-main-info-list-item-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.player-card-main-info-list-item:nth-child(2)
  .player-card-main-info-list-item-key {
  color: #076ce9;
}

.player-card-main-info-btnWrapper {
  max-width: 110px;
}

/* WEAPON */
.weapon {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 35px;
}

.weapon-card {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #19c1ef50;
  display: flex;
  flex-direction: column;
}

.weapon-card__title {
  font-size: 14px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #0975f83d;
  margin-bottom: 10px;
  text-align: center;
}

.weapon-card__img {
  margin-bottom: 20px;
}

.weapon-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 8px;
  margin-bottom: 20px;
}

.weapon-card-list-item {
  padding-bottom: 6px;
  border-bottom: 1px solid #19c1ef4d;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.weapon-card-list-item-key {
  font-size: 12px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076ce93d;
}

.weapon-card-list-item-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.weapon-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.weapon-card-footer .weapon-card-list-item {
  border-bottom: none;
  padding-bottom: 0;
}

.weapon-card-footer .weapon-card-list-item-key {
  color: #076ce9;
}

.weapon-card-footer-btnWrapper {
  max-width: 110px;
}

/* STORE */
.store {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 35px;
}

.store-card {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #19c1ef50;
  display: flex;
  flex-direction: column;
}

.store-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.store-card__title-rarity {
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 #0974f820;
  color: #4fb2fe;
  letter-spacing: 2px;
}

.store-card__title-text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 #0974f820;
}

.store-card__body {
  display: flex;
  align-items: center;
  gap: 16px;
}

.store-card__body-img {
  max-width: 154px;
  width: 100%;
}

.store-card__body-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.store-card__body-main-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.store-card__body-main-block-head {
  padding-bottom: 6px;
  border-bottom: 1px solid #19c1ef36;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.store-card__body-main-block-head-key {
  font-size: 11px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076de936;
}

.store-card__body-main-block-head-value {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.store-card__body-main-block-head-value-current {
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076de936;
}

.store-card__body-main-block-head-value-max {
  text-shadow: 2px -1px 0 #076de936;
}

.store-card__body-main-block-cuttedBtnWrapper {
  max-width: 111px;
  width: 100%;
}

.store-card__body-main-block-cuttedBtnWrapper .cuttedButtonContainer::before {
  display: none;
}

.store-card__body-main-block-cuttedBtnWrapper .cuttedButtonContainer::after {
  display: none;
}

.store-card__body-main-block-cuttedBtnWrapper .cuttedButton {
  padding: 7px 12px;
}

.store-card__body-main-block-cuttedBtnWrapper .cuttedButton__text {
  font-size: 12px;
  letter-spacing: unset;
}
