.shop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.shop__pillsContainer {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* PLAYER */
.player {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 35px;
}

.player-card {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #19c1ef50;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-card--NeedRestoration {
  border-color: #e91f38;
  background: linear-gradient(to right, #e91f3854, #ff697b00);
}

.player-card--NeedRestoration .player-card-subtitle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ff96a2;
}

.player-card--NeedRestoration .player-card-subtitle .red {
  color: #e91f38;
}

.player-card--NeedRestoration .player-card-main-info-list-item-value {
  color: #ff96a2;
}

.player-card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
  display: flex;
  align-items: center;
  gap: 4px;
}

.player-card-subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  color: #0974f8;
  margin-top: -5px;
}

.player-card-title-rarity {
  color: #4fb2fe;
  background: -webkit-linear-gradient(#4fb2fe, #4fb2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-card-main {
  display: flex;
  gap: 12px;
}

.player-card-main-modelBlockWrapper {
  max-width: 154px;
  width: 100%;
}

.player-card-main-modelBlockWrapper-badge {
  padding: 8px 10px 20px 10px;
  border: 1px solid #0975f849;
  border-radius: 6px;
  font-size: 11px;
  color: #0974f8;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100px;
  width: 100%;
  margin: 0 auto -16px auto;
}

.player-card-main-modelBlock {
  background-color: #192d7d;
  max-width: 154px;
  width: 100%;
  object-fit: contain;
}

.player-card-main-modelBlock--Weapon {
  object-fit: contain;
}

.player-card-main-info {
  display: flex;
  flex-direction: column;
  max-width: 134px;
  /* width: 100%; */
  gap: 15px;
}

.player-card-main-info-title {
  font-size: 14px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
}

.player-card-main-info-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.player-card-main-info-list-item {
  padding-bottom: 6px;
  border-bottom: 1px solid #19c1ef4d;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.player-card-main-info-list-item-key {
  font-size: 11px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076ce93d;
}

.player-card-main-info-list-item-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.player-card-main-info-list-item-value .green {
  color: #1bdd15;
}

.player-card-main-info-list-item-value .red {
  color: #ff96a2;
}

.player-card-main-info-list-item-value .blue {
  color: #0974f8;
}

.player-card-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-card-footer-priceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-card-footer-priceBlock-price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.player-card-footer-priceBlock-price-key {
  font-size: 11px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076ce93d;
}

.player-card-footer-priceBlock-price-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.player-card-main-info-btnWrapper {
  max-width: 110px;
}

.player-card-main-info-btnWrapper .cuttedButton {
  padding: 7px 14px;
}

.player-card-main-info-btnWrapper .cuttedButton__text {
  font-size: 12px;
  letter-spacing: 0px;
}

/* WEAPON */
.weapon {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 35px;
}

.weapon-card {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #19c1ef50;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weapon-card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
  display: flex;
  align-items: center;
  gap: 4px;
}

.weapon-card-title-rarity {
  color: #4fb2fe;
  background: -webkit-linear-gradient(#4fb2fe, #4fb2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weapon-card-main {
  display: flex;
  gap: 12px;
}

.weapon-card-main-modelBlockWrapper {
  max-width: 154px;
  width: 100%;
}

.weapon-card-main-modelBlockWrapper-badge {
  padding: 8px 10px 20px 10px;
  border: 1px solid #0975f849;
  border-radius: 6px;
  font-size: 11px;
  color: #0974f8;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100px;
  width: 100%;
  margin: 0 auto -16px auto;
}

.weapon-card-main-modelBlock {
  background-color: #192d7d;
  max-width: 154px;
  width: 100%;
}

.weapon-card-main-modelBlock--Weapon {
  object-fit: contain;
}

.weapon-card-main-info {
  display: flex;
  flex-direction: column;
  max-width: 134px;
  /* width: 100%; */
  gap: 15px;
}

.weapon-card-main-info-title {
  font-size: 14px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
}

.weapon-card-main-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weapon-card-main-info-list--Weapon {
  gap: 5px;
}

.weapon-card-main-info-list-item {
  padding-bottom: 6px;
  border-bottom: 1px solid #19c1ef4d;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.weapon-card-main-info-list-item-key {
  font-size: 11px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076ce93d;
}

.weapon-card-main-info-list-item-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.weapon-card-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weapon-card-footer-priceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weapon-card-footer-priceBlock-price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.weapon-card-footer-priceBlock-price-key {
  font-size: 11px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076ce93d;
}

.weapon-card-footer-priceBlock-price-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.weapon-card-main-info-btnWrapper {
  max-width: 110px;
}

/* STORE */
.store {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 35px;
}

.store-card {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #19c1ef50;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.store-card--NeedRestoration {
  border-color: #e91f38;
  background: linear-gradient(to right, #e91f3854, #ff697b00);
}

.store-card--NeedRestoration .store-card-main-info-list-item-value {
  color: #ff96a2;
}

.store-card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
  display: flex;
  align-items: center;
  gap: 4px;
}

.store-card-title-rarity {
  color: #4fb2fe;
  background: -webkit-linear-gradient(#4fb2fe, #4fb2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.store-card-main {
  display: flex;
  gap: 12px;
}

.store-card-main-modelBlockWrapper {
  max-width: 154px;
  width: 100%;
}

.store-card-main-modelBlockWrapper-badge {
  padding: 8px 10px 20px 10px;
  border: 1px solid #0975f849;
  border-radius: 6px;
  font-size: 11px;
  color: #0974f8;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100px;
  width: 100%;
  margin: 0 auto -16px auto;
}

.store-card-main-modelBlock {
  background-color: #192d7d;
  max-width: 154px;
  width: 100%;
}

.store-card-main-modelBlock--store {
  object-fit: contain;
}

.store-card-main-info {
  display: flex;
  flex-direction: column;
  max-width: 134px;
  /* width: 100%; */
  gap: 15px;
}

.store-card-main-info-title {
  font-size: 14px;
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 0 #0975f83d;
}

.store-card-main-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.store-card-main-info-list--store {
  gap: 5px;
}

.store-card-main-info-list-item {
  padding-bottom: 6px;
  border-bottom: 1px solid #19c1ef4d;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.store-card-main-info-list-item-key {
  font-size: 11px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076ce93d;
}

.store-card-main-info-list-item-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
  display: flex;
  flex-wrap: wrap;
}

.store-card-main-info-list-item-value span:nth-child(1) {
  color: #ff96a2;
}

.store-card-main-info-list-item-value span:nth-child(2) {
  color: #0974f8;
}

.store-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.store-card-footer-priceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-card-footer-priceBlock-price {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.store-card-footer-priceBlock-price-key {
  font-size: 11px;
  color: #076ce9;
  text-shadow: 2px -1px 0 #076ce93d;
}

.store-card-footer-priceBlock-price-value {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076ce93d;
}

.store-card-main-info-btnWrapper {
  max-width: 110px;
}

.store-card__body-main-block-cuttedBtnWrapper .cuttedButton {
  max-width: 111px;
  width: 100%;
  padding: 7px 14px;
}

.store-card__body-main-block-cuttedBtnWrapper .cuttedButton__text {
  font-size: 12px;
  letter-spacing: 0px;
}
