.drawerBg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, #120d1f, #0f172f00);
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.drawerBg.top {
  justify-content: flex-start;
  background: linear-gradient(to bottom, #120d1f, #0f172f00);
}

.drawerBg--Hidden {
  opacity: 0;
  pointer-events: none;
}

.drawer {
  max-width: 576px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 347px;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(
    to bottom,
    rgb(24 72 185 / 100%),
    rgb(24 29 91 / 50%)
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  z-index: 1001;
  transition: all 0.2s ease-in-out;
}

.drawerBg.top .drawer {
  background: linear-gradient(
    to top,
    rgb(24 72 185 / 100%),
    rgb(24 29 91 / 80%)
  );
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 50px;
}

.drawer.rejected {
  background: linear-gradient(to bottom, #d6182f, rgb(24 29 91 / 50%));
}

.drawer.resolved {
  background: linear-gradient(to bottom, #43ca3f, rgb(24 29 91 / 50%));
}

.drawerBg.top .drawer--Hidden {
  pointer-events: none;
  transform: translateY(-100%);
}

.drawer--Hidden {
  pointer-events: none;
  transform: translateY(100%);
}

.drawer__closeIcon {
  position: absolute;
  top: 13px;
  right: 13px;
}

.drawer__content {
  width: 100%;
}

.connectWallet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.connectWallet__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 250px;
  text-align: center;
  margin-bottom: 35px;
}

.connectWallet__mainBtn {
  margin-bottom: 30px;
}

.connectWallet__laterBtn {
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #0975f85b;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076de93d;
  font-size: 10px;
  padding: 7px 17px;
  transition: all 0.2s ease-in-out;
}

.connectWallet__laterBtn:active {
  opacity: 50%;
}

.responseStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.responseStatus__icon {
  max-width: 64px;
}

.responseStatus__title {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  text-align: center;
}

.responseStatus__text {
  font-size: 12px;
  opacity: 50%;
  color: white;
  text-shadow: 2px -1px 0 #076de920;
  max-width: 300px;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
}

/* MENU */
.menu__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 250px;
  text-align: center;
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 236px;
  width: 100%;
}

.menu__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 0;
  background: linear-gradient(to bottom, #076ce9, #14b4de);
  border-radius: 6px;
  border: 1px solid #2cd1ff79;
  font-size: 12px;
  color: #c9e9fb;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.menu__list-item--Transparent {
  background: transparent;
}

.menu__list-item:active {
  opacity: 50%;
}

/* REPAIR */
.repair__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.repair__block {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #19c2ef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.repair__block-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.repair__block-row-key {
  text-shadow: 2px -1px 0 #076de93a;
  color: #0974f8;
}

.repair__block-row-value {
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076de93a;
}

.repair__block-cryptoButtons {
  width: 100%;
}

.repair__mainBtn {
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
}

.repair__mainBtn .cuttedButton__text {
  font-size: 16px;
}

/* HEAL */
.heal__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.heal__block {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #19c2ef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.heal__block-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.heal__block-row-key {
  text-shadow: 2px -1px 0 #076de93a;
  color: #0974f8;
}

.heal__block-row-value {
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076de93a;
}

.heal__block-cryptoButtons {
  width: 100%;
}

.heal__mainBtn {
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
}

.heal__mainBtn .cuttedButton__text {
  font-size: 16px;
}

/* UPGRADE */
.upgradeBody {
  max-width: 340px;
  width: 100%;
}

.upgrade__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.upgrade__block {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upgrade__block-item {
  border-radius: 2px;
  padding: 8px 10px 8px 20px;
  background: linear-gradient(
    90deg,
    rgba(25, 194, 239, 0.3) 0%,
    rgba(25, 194, 239, 0) 30%,
    rgba(25, 194, 239, 0) 70%,
    rgba(25, 194, 239, 0.3) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upgrade__block-item-main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.upgrade__block-item-main-value {
  display: flex;
  align-items: center;
  gap: 5px;
}

.upgrade__block-item-main-value-current {
  font-size: 14px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076de92d;
}

.upgrade__block-item-main-value-max {
  color: #1bdd15;
  font-size: 16px;
}

.upgrade__block-item-main-title {
  font-size: 11px;
  color: #19c2ef;
}

.upgrade__block-item-cuttedButtonWrapper {
  max-width: 80px;
}

.upgrade__block-item-cuttedButtonWrapper .cuttedButtonContainer::before {
  display: none;
}

.upgrade__block-item-cuttedButtonWrapper .cuttedButtonContainer::after {
  display: none;
}

.upgrade__block-item-cuttedButtonWrapper .cuttedButton {
  padding: 6px 10px;
}

.upgrade__block-item-cuttedButtonWrapper .cuttedButton__text {
  letter-spacing: normal;
}

/* INVITE FRIEND */
.inviteFriend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inviteFriend__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.inviteFriend-inputBlock-inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.inviteFriend-inputBlock-input {
  outline: none;
  border: none;
  border-bottom: 1px solid #0974f8;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  color: #19c2ef;
  width: 100%;
  background: linear-gradient(to top, #0975f848, #0975f800);
  text-overflow: ellipsis;
}

/* GIVEUP */
.giveUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
}

.giveUp__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

/* OPPONENT FOUND */
.opponentFound {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawer.opponentFound {
  max-height: 400px;
}

.opponentFound__icon {
  max-width: 75px;
  width: 100%;
  margin: 0 auto;
}

.opponentFound__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;

  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.opponentFound__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.opponentFound__footer .cuttedButtonContainer {
  max-width: 150px;
  width: 100%;
}

.opponentFound__betBox {
  padding: 15px 15px 20px 15px;
  border-radius: 4px;
  border: 1px solid #19c2ef4b;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

.opponentFound__betBox-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.opponentFound__betBox-main-key {
  font-size: 15px;
  color: #0974f8;
}

.opponentFound__betBox-main-value {
  font-size: 16px;
  color: #c9e9fb;
}

.opponentFound__betBox-timerWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
}

/* DUEL INVITATION */
.duelInvitation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawer.duelInvitation {
  max-height: 400px;
  padding-bottom: 40px;
}

.duelInvitation__icon {
  max-width: 45px;
  width: 100%;
  margin: 0 auto;
}

.duelInvitation__text {
  background: -webkit-linear-gradient(#e1f0ff, #c9e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 #0974f820;
  text-transform: uppercase;

  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.duelInvitation__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.duelInvitation__footer .cuttedButtonContainer {
  max-width: 150px;
  width: 100%;
}

.duelInvitation__betBox {
  padding: 15px 15px 20px 15px;
  border-radius: 4px;
  border: 1px solid #19c2ef4b;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

.duelInvitation__betBox-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.duelInvitation__betBox-main-key {
  font-size: 15px;
  color: #0974f8;
}

.duelInvitation__betBox-main-value {
  font-size: 16px;
  color: #c9e9fb;
}

.opponentFound__betBox-timerWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
}
