.gameFields {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gameFieldsMainContent__greenBlaster {
  position: absolute;
  bottom: 20px;
  right: -30px;
}

.gameFieldsMainContent__redBlaster {
  position: absolute;
  top: -30px;
  left: -30px;
}

.gameFieldsMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gameFields__leftBg {
  position: absolute;
  left: 0;
  top: 50%;
  max-width: 87px;
  width: 100%;
  transform: translateY(-50%);
}

.gameFields__rightBg {
  position: absolute;
  right: 0;
  top: 50%;
  max-width: 87px;
  width: 100%;
  transform: translateY(-50%);
}

@media screen and (max-width: 400px) {
  .gameFields__leftBg,
  .gameFields__rightBg {
    max-width: 67px;
  }
}

@media screen and (max-width: 370px) {
  .gameFields__leftBg,
  .gameFields__rightBg {
    max-width: 57px;
  }
}

@media screen and (max-width: 360px) {
  .gameFields__leftBg,
  .gameFields__rightBg {
    max-width: 40px;
  }
}

@media screen and (max-width: 340px) {
  .gameFields__leftBg,
  .gameFields__rightBg {
    max-width: 32px;
  }
}

.gameFields__top {
  width: 302px;
  height: 292px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameFields__top-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gameFields__top-board {
  position: relative;
  background: red;
  width: 250px;
  height: 250px;
}

.gameFields__timer {
  position: relative;
  margin-top: -14px;
  margin-bottom: -7px;
}

.gameFields__bottom {
  width: 302px;
  height: 292px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameFields__bottom-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gameFields__bottom-board {
  position: relative;
  background: red;
  width: 250px;
  height: 250px;
}

/* @media screen and (max-height: 770px) {
  .gameFieldsMainContent {
    transform: scale(0.9);
  }
}

@media screen and (max-height: 740px) {
  .gameFields {
    height: 470px;
  }

  .gameFieldsMainContent {
    transform: scale(0.8);
  }
} */
