.partners {
  position: relative;
  padding: 0 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.partners__header {
  background-color: #0975f852;
  border-radius: 4px;
  padding: 8px 0;
  color: #19c2ef;
  display: flex;
  align-items: center;
}

.partners__header-name {
  max-width: 120px;
  width: 100%;
  margin-right: 32px;
  padding-left: 22px;
}

.partners__header-profit {
  margin-left: auto;
  padding-right: 15px;
}

.partners__listWrapper {
  max-height: 371px;
  overflow-y: scroll;
}

.partners__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 50px;
}

.partners__list-item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #19c1ef48;
}

.partners__list-item-nameBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 120px;
  width: 100%;
  margin-right: 32px;
}

.partners__list-item-nameBlock-name {
  text-decoration: underline;
  color: #fff;
  text-shadow: 2px -1px 0 rgba(7, 109, 233, 0.26);
  text-overflow: ellipsis;
  overflow: hidden;
}

.partners__list-item-model {
  max-width: 55px;
  width: 100%;
  margin-right: 14px;
  text-shadow: 2px -1px 0 rgba(7, 109, 233, 0.26);
  text-overflow: ellipsis;
  overflow: hidden;
}

.partners__list-item-profit {
  text-align: end;
  max-width: 70px;
  width: 100%;
  margin-left: auto;
  color: #9fff9c;
  text-shadow: 2px -1px 0 rgba(7, 109, 233, 0.26);
  text-overflow: ellipsis;
  overflow: hidden;
}

.partners .modal__scrollContainer {
  max-width: 342px;
  max-height: 357px;
  padding: 0 10px 0 0;
}

.partners .modal__scrollContainer__bottomGradient {
  bottom: 0;
  left: 20px;
  max-width: 319px;
}
