.settings {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__row-name {
  font-size: 14px;
  color: #19c2ef;
  text-shadow: 2px -1px 0 #076de938;
}

.settings__row-selectContainer {
  max-width: fit-content;
  width: 100%;
}
