.cryptoButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7px;
}

.cryptoButtons__btn {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  background: #0975f84f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 90px;
  width: 100%;
  padding: 5px 0;
  transition: all 0.2s ease-in-out;
}

.cryptoButtons__btn-text {
  color: #19c2ef;
  font-size: 10px;
  text-shadow: 2px -1px 0 #076de934;
}

.cryptoButtons__btn--Active {
  background: #0975f89d;
  border-color: #2cd1ff83;
}

.cryptoButtons__btn--Soon {
  position: relative;
  pointer-events: none;
}

.cryptoButtons__btn--Soon::after {
  position: absolute;
  content: "SOON...";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #19c2ef;
  backdrop-filter: blur(5px);
  border-radius: 6px;
}
