.wallet {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wallet__balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  position: relative;
}

.wallet__balance-box {
  border-radius: 4px;
  background-color: #0975f85d;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.wallet__balance-box-key {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 10px;
}

.wallet__balance-box-key-title {
  color: #19c2ef;
}

.wallet__balance-box-value {
  font-size: 12px;
  color: #c9e9fb;
  text-shadow: 2px -1px 0 #076de944;
}

.wallet .modal__scrollContainer {
  max-width: 342px;
  height: 269px;
  padding: 0 10px 0 0;
}

.wallet .modal__scrollContainer__bottomGradient {
  bottom: 0;
  left: 20px;
  max-width: 319px;
  bottom: 25px;
}
