.container {
  max-width: 576px;
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
}

.mainWrapper {
  flex-grow: 1;
}

.footerWrapper {
  position: fixed;
  width: 100%;
  z-index: 1000;
  bottom: 0;
}

img,
svg,
iframe {
  -webkit-user-drag: none;
  user-drag: none;
}
