.battleships__grid {
  width: 250px;
  height: 250px;
  position: relative;
  z-index: 1;
  bottom: -2px;
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(10, 25px);
  background-color: #070c2733;
}

.battleships__gridAbsolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.battleships__cell {
  border: 1px solid #adeeff70;
}

.battleships__cell:not(:nth-child(10n)) {
  border-right: 0;
}

.battleships__cell:not(:nth-last-child(-n + 10)) {
  border-bottom: 0;
}

.battleships__cell-shipImg.ship__1.horizontal {
  max-width: 25px;
  height: 25px;
}

.battleships__cell-shipImg.ship__2.horizontal {
  max-width: 50px;
  height: 25px;
}

.battleships__cell-shipImg.ship__3.horizontal {
  max-width: 75px;
  height: 25px;
}

.battleships__cell-shipImg.ship__4.horizontal {
  max-width: 100px;
  height: 25px;
}

.battleships__cell-shipImg.ship__1.vertical {
  width: 25px;
  max-height: 25px;
}

.battleships__cell-shipImg.ship__2.vertical {
  width: 25px;
  max-height: 50px;
}

.battleships__cell-shipImg.ship__3.vertical {
  width: 25px;
  max-height: 75px;
}

.battleships__cell-shipImg.ship__4.vertical {
  width: 25px;
  max-height: 100px;
}

.battleships__gridAbsolute-controls {
  border-radius: 4px;
  background-color: #19c2ef30;
  pointer-events: all;
}

.marked-buffer {
  background-color: red;
}
.marked-ship {
  background-color: blue;
}
.marked-apply {
  background-color: green;
}
